<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'hive_admin/shared/status' %>
  <%= render 'hive/shared/flash' %>
  <%= render 'hive/shared/sign_in_status' %>

  <%= yield %>
</body>
</html>
